h1 {
  font-size: 60 px;
  color: #5A65BF;
}
h2 {font-size: 50 px;
color: #000000;

}
.lol{
  color: pink;
}
.red-1{
width: 200px;
color: blue;
height: 230px;
border-radius: 25px;
}
.list-style-type: none;{
}
h1,h2,h3,p,ul,div,blockquote,img,{
  width: 700;
  margin:0 auto;

}
