h1 {
  font-size: 60 px;
  color: #5A65BF;
}
h2 {font-size: 50 px;
color: #000000;

}
.image {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
  }
.lol{
  color: pink;
}
.red-1{
width: 200px;
color: blue;
height: 230px;
border-radius: 25px;
}
.list-style{
  color: green;
}
.text-block {
margin-left:100px;
margin-right:100px;
}
.image-stack {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
  }
